header{
  display: flex;
  width: 100%;
  width: 100%;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png")
}

.name{
  display: flex;
  justify-content: center;
}